#first.column {
    width: 258px;
    height: 1018px;
    padding: 0px;
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
}




#second.column {
    width: 1085px;
    padding: 0px;
    height: 1018px;
    background-color: #F5F6F6;
    overflow: hidden;
    padding-left: 14px;
    
}

#second > .ui.container {
    float: left;
    display: block;
}

#third.column {
    display: block;
    width: 577px;
    padding: 0px;
    height: 1018px;
    align-items: center;
    justify-content: center;
}

div.ui.list {
    left: 0%;
    width: 205px;
    height: 149px;
}
div.ui.mini.circular.label {
    margin-left: 7.3px;
}


svg {
    margin-right: 11px;
}



#rect {
    width: 251.3px;
    height: 128px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow:3px 0px 15px #f3f3f3 ,32px -54px 15px #F3F3F3;
    display: block;
    margin: 0px 169.5px 403px 156.5px;
}
#firstEllips {
    width: 80px;
    height: 9px;
    background: #F3F3F3;
    border-radius: 4.5px;
    margin: 53px 137.5px 14px 33.5px;
    float: left;
}
#secondEllips {
    width: 160px;
    height: 9px;
    background: #F3F3F3;
    border-radius: 4.5px;
    float: left;
    margin-top: 0px;
    margin-left: 33.5px;
}
#shadowEllips > svg {
    margin: 473px 5px 0px 0px;
}

#first > b {
    height: 24px;
    margin-top: 386.2px;
    margin-bottom: 0px;
}

#CreateTicket {
    float: left;
    margin: 17px 68px 25px 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#TicketSummary > p {
    
    width: auto;
    height: auto;
}


.ui.fitted.checkbox label:before {
    background-color: white;
    border-radius: 2px;

}

.ui.fitted.checkbox label:after {
    background-color: #25BBF3;
    border-radius: 2px;

}

#RighTop {
        
    margin : 0px 10px 0px 0px;
    float: left;
}

@media screen and (max-width: 415px) {
   

    #second.column {
        background-color: white;
    }

    #DespatchLogo{
        

        margin : 0px 66.1px 0px 58.1px;
    }

    #Toggle {
        
        margin : 0px 0px 0px 21px;
    }

    #RighTop {
        
        margin : 0px 13.5px 0px 0px;
    }

    #Tickets {
        padding-top: 21px;
        overflow: hidden;
    }
    #Tickets > ul  {
        
        width: 414px;
        border-width: 100px;
    }

    #Tickets > ul > p  {
        border-width:100px;
        width: 323.5px;
    }

   

    .ui.container > p {
        display: none;
    }

    #TicketSummary > div {
        margin-left: 0px;
    }

    #TicketSummary > div {
        margin-left: 0px;
    }

    #Matthew , #Dunne {
        margin: 0;
        margin-left:74px;
        width: 323px;
        
    }

    #Matthew {
        position:relative;
        margin-top: 0px !important;
        margin-bottom: 0px !important;

    }

    #Dunne {
        margin-top: 6px;
        position: relative;
        
    }

    #ticketBorder {
        width: 323px;
        box-shadow: 0px 2px rgba(0, 0, 0, 0.13);
    }

   


  }
